{% extends "base.html" %}

{% block js %}
<script src="{{ url_for('static', filename='js/jquery.tablesorter.min.js') }}"></script>
<script type="text/javascript" id="js">
$(document).ready(function() {
  var timeExtraction = function(node) {
    if ($(node).attr('data-time-in-seconds') !== undefined) {
      return '-' + node.getAttribute('data-time-in-seconds');
    } else {
      return node.innerHTML;
    }
  }
  $("#portfolio-overview-table").tablesorter({
    textExtraction: timeExtraction
  });
});
</script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
{% endblock %}

{% block body %}
<section class="header">
  <h2 class="title">Portfolio overview</h2>
  <div class="row">
    <div class="three columns value-prop"></div>
    <div class="six columns">
      {% if form.errors %}
        <div class="has-error"><strong>Ideas should neither be empty nor be longer than 128 characters.</strong></div>
      {% endif %}
      <form action="{{ url_for('main.add_portfolio') }}" method=post>
        {{ form.hidden_tag() }}
        <dl>
          <dd>{{ form.title(class_="u-full-width", placeholder="Enter a title to start a new portfolio", value="", maxlength=128) }}
          <dt>{{ form.submit }}
        </dl>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="u-full-width">
      <h6 class="docs-header portfolio-overview">All your portfolios</h6>
      <table id="portfolio-overview-table" class="tablesorter">
        <thead>
          <tr>
            <th style="width:50%">Portfolio title</th>
            <th># Open</th>
            <th># Finished</th>
            <th class="datetime">Created at</th>
          </tr>
        </thead>
        <tbody>
          {% for portfolio in current_user.portfolios %}
            <tr>
              <td><a href="{{ url_for('main.portfolio', id=portfolio.id) }}">{{ portfolio.title }}</a></td>
              <td>{{ portfolio.open_count }}</td>
              <td>{{ portfolio.finished_count }}</td>
              <td data-time-in-seconds="{{ portfolio.created_at|in_seconds }}">{{ portfolio.created_at|humanize }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>
{% endblock %}
