{% extends "base.html" %}

{% block js %}
<script src="{{ url_for('static', filename='js/portfolio.js') }}"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>

{% endblock %}

{% block body %}
<section class="header">
  <h2 class="title">{{portfolio.title|title}}</h2>
  <div class="row">
    <div class="three columns value-prop"></div>
    <div class="six columns">
      {% if form.errors %}
        <div class="has-error"><strong>Ideas should neither be empty nor be longer than 128 characters.</strong></div>
      {% endif %}
      <form method=post>
        {{ form.hidden_tag() }}
        <dl>
          <dd>{{ form.description(class_="u-full-width", placeholder="Enter your invest idea name", value="", maxlength=128) }}
          <dd>{{ form.isin(class_="u-full-width", placeholder="Choose your invest idea ISIN", value="", maxlength=128) }}
          <dt>{{ form.submit }}
        </dl>
      </form>
    </div>
    <div class="row">
      <div class="one-half column open-ideas">
        <h6 class="docs-header">{{ portfolio.open_count }} open</h6>
        <ul>
          {% for idea in portfolio.ideas %}
            {% if not idea.is_finished %}
              {{idea}}
              <li><input type="checkbox" id="checkbox" data-idea-id="{{ idea.id }}"> "{{ idea.idea_instrument }}"</li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="one-half column finished-ideas">
        <h6 class="docs-header">{{ portfolio.finished_count }} finished</h6>
        <ul>
          {% for idea in portfolio.ideas %}
            {% if idea.is_finished %}
              <li><input type="checkbox" id="checkbox" data-idea-id="{{ idea.id }}" checked="checked"> {{ idea.description }}</li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>

<script>
  $(document).ready(function() {
    $('#isin').select2({  // init Select2 on form's isin field
      placeholder: "{{ form.isin.label.text }}",
      allowClear: true,
      "width": "style"
    });
  });
</script>

{% endblock %}
